<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Examples - Watches</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <script src="../assets/js/vue.js"></script>

</head>

<body>
    <div id="app">
        <div class="container">
            <input type="number" v-model="valA"> +
            <input type="number" v-model="valB"> = {{result}}
        </div>
        <ul>
            <li v-for="log in logs">{{log}}</li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: function() {
                return {
                    valA: 0,
                    valB: 0,
                    logs: []
                }
            },
            computed: {
                result: function () {
                    return Number(this.valA) + Number(this.valB);
                }
            },
            watch: {
                result: function (newVal) {
                    this.logs.push("The result was changed to..." +  newVal);
                }
            }
        });
    </script>
</body>

</html>