<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Examples - Events</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <script src="../assets/js/vue.js"></script>

</head>

<body>
    <div id="app">
        <div class="container">
            <input type="number" v-model="valA"> +
            <input type="number" v-model="valB"> = {{result}}
        </div>

        <!-- Example of using @click with interpolation -->
        <button @click="result = Number(valA) + Number(valB)">Sum (Using interpolation)</button>

        <!-- Example of using @click by invoking method -->
        <button @click="calculate(valA, valB)">Sum (Invoke method)</button>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: function() {
                return {
                    valA: 0,
                    valB: 0,
                    result: 0
                }
            },
            methods: {
                calculate: function (valA, valB) {
                    this.result = Number(valA) + Number(valB);
                }
            }
        });
    </script>
</body>

</html>