<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Examples - Filtered Lists</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <script src="../assets/js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="search">
        <ul>
            <li v-for="item in filteredList" :key="item.name">{{item.name}}</li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: function() {
                return {
                    search: "",
                    list: [
                        {name: "Apples"},
                        {name: "Bananas"},
                        {name: "Grapes"},
                        {name: "Strawberries"},
                        {name: "Oranges"},
                        {name: "Pineapples"},
                        {name: "Kiwis"},
                        {name: "Grapefruits"}
                    ]
                }
            },
            computed: {
                filteredList: function() {
                    console.log('#filteredList called', this.search);
                    return this.list.filter((item) => {
                        return item.name.toLowerCase().indexOf(this.search.toLowerCase()) !== -1;
                    });
                }
            }
        });
    </script>
</body>

</html>